
a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0px;
    background-color: #e4e4e4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#about-us-section {
    background-color: white;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-left: 2px solid #d4d4d4;
    border-right: 2px solid #d4d4d4;
}

.about-us-container {
    margin-bottom: 60px;
    width: 1050px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-us-headline {
    width: 40%;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #b4b4b4;
}

.about-us-headline h1 {
    text-align: center;
    margin: 0px;
    font-family: Airside Sans;
    color: black;
    font-size: 50px;
    font-weight: lighter;
}

.about-us-text {
    width: 700px;
    text-align: justify;
    font-family: Bahnschrift;
    font-size: 20px;
}

.about-us-text h2 {
    margin-bottom: 10px;
}