* {
    box-sizing: border-box;
}

@font-face {
    font-family: Airside Sans;
    src: url(../fonts/AirsideSans.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Dades;
    src: url(../fonts/Dades.ttf);
}

@font-face {
    font-family: Bahnschrift;
    src: url(../fonts/bahnschrift.ttf);
    font-weight: 100;
    font-stretch: semi-condensed;
}

a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0px;
    background-color: #e4e4e4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#delivery-section {
    background-color: white;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #d4d4d4;
    border-right: 2px solid #d4d4d4;
}

.delivery-container {
    margin-bottom: 60px;
    width: 1050px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delivery-headline h1 {
    font-family: Airside Sans;
    color: black;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}

.delivery-headline {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #b4b4b4;
}

.delivery-text {
    width: 700px;
    text-align: justify;
    font-family: Bahnschrift;
    font-size: 20px;
}

.delivery-text p {
    margin-left: 10px;
    margin-top: 5px;
}

.delivery-text ul {
    margin-left: 25px;
}

.delivery-text ul li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.delivery-text table {
    font-family: Bahnschrift;
    font-size: 20px;
    color: black;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    border-collapse: collapse;
}

.delivery-text table thead {
    background-color: #1b1b1b ;
    line-height: 40px;
    color: white;
}

.delivery-text table tbody {
    background-color:#e7e7e7;
    line-height: 40px;
    color: black;
}

.delivery-text table tbody tr {
    border-bottom: 1px solid #d4d4d4;
}

.delivery-text h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}