.home-welcome {
    height: 18.75rem;
    width: 100%;
    background: url(../images/banner.jpg) center / cover no-repeat;
    padding: 1.5rem;
}

.home-banner-box {
    width: 100%;
    max-width: 81rem;
}

.banner-text {
    height: fit-content;
    width: 81rem;
}

.banner-text h1 {
    font-family: Airside Sans;
    color: white;
    text-shadow: black 3px 3px 0px;
    font-size: 3.75rem;
}

.banner-text p {
    font-family: Bahnschrift;
    color: white;
    text-shadow: black 1px 1px 0px;
    font-size: 1.5rem;
}

.banner-text-button { 
	margin-top: 1.5rem;
    display: block;    
    height: 3rem;
    width: 18.75rem;
    border: 2px solid black;
    font-family: Bahnschrift;
    font-size: 1.5rem;
    box-shadow: black 5px 5px 0px;
    background: right bottom / 200% 100% linear-gradient(to right, black 50%, white 50%);
    transition:  300ms;
    overflow: hidden;
}

.banner-text-button:hover  {   
    color: white;
    background-position: left bottom;
    cursor: pointer;
}

.product-row {
    height: 28rem;
    width: 81rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0.625rem;
}

.main-category-content {
    height: 500px;
    width: 100%;
    flex-wrap: wrap;
    margin: 1.875rem 0;
}

.main-category-content .category-headline {
	width: 100%;
}

.category-headline h1 {
    width: 81rem;
    text-align: center;
    font-family: Bahnschrift;
    font-size: 2.125rem;
    color: black;
    font-weight: lighter;
}

.product-square {
    height: 25rem;
    width: 18.75rem;
    background-color: #EBEEEF;
    flex-wrap: wrap; 
}

.ps-image-area {
    width: 100%;
    height: 90%;
    padding: 1.25rem;
}

.ps-image-area img {
    height: 17.5rem;
    width: 17.5rem;
    transition: 200ms;
}

.ps-image-area img:hover {
    width: 18.75rem;
    height: 18.75rem;
}

.ps-text-area {
    width: 100%;
    height: 5rem;
    padding: 0.625rem 1.25rem;
    flex-wrap: wrap;
    background-color: #1b1b1b;
}

.ps-text-area h1 {
    width: 100%;
    font-family: Bahnschrift;
    font-size: 1.25rem;
    font-weight: lighter;
    color: white;
}

.ps-text-area h1:hover {
   color: #ccc;
}

.ps-text-area span {
    width: 100%;
    font-family: Bahnschrift;
    font-size: 1rem;
    font-weight: lighter;
    color: rgb(190, 190, 190);
}

.street-section {
    width: 100%;
    height: 43.75rem;
    flex-wrap: wrap;
    background: url(../images/streetwear-banner.jpg) center -25rem / auto no-repeat;
    margin-bottom: 50px;
}

.street-content {
    width: 100%;
    height: 90%;
    flex-wrap: wrap;
}

.container-headline {
    margin: 1.25rem;
    width: 100%;
}

.container-headline h1 {
    font-family: Bodoni Bd BT;
    color: white;
    text-align: center;
    font-size: 3.75rem;
}

.container-headline p {
    font-family: Bodoni Bd BT;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    font-weight: lighter;
}