@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Airside Sans;
    src: url(../fonts/AirsideSans.ttf);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}