<%- include('../partials/header.ejs') %> 

<body>
    <section class="home-banner-section">
        <div class="home-banner-box">
            <div class="banner-text">
                <h1>BEM VINDO A SEM LIMITES</h1>
                <p>Aproveite nosso catálogo <br> e produtos de alta qualidade</p>
                <a href="assets/website/catalog/male.php"><input type="button" value="COMPRAR" class="banner-text-button"></a>
            </div>
        </div>
    </section>

    <section class="main-category-content">
        <div class="category-headline">
            <h1>Principais Categorias</h1>
        </div>

        <div class="product-row">
            <a href="assets/website/catalog/male.php?search=Camiseta">
                <div class="product-square">
                    <div class="ps-image-area">
                        <img src="assets/images/camiseta.png">
                    </div>
                    <div class="ps-text-area">
                        <h1>Camisetas</h1>
                        <span>Camisas a partir de R$ 79,90</span>
                    </div>
                </div>
            </a>

            <a href="assets/website/catalog/male.php?search=Bermuda">
                <div class="product-square">
                    <div class="ps-image-area">
                        <img src="assets/images/bermuda.png">
                    </div>
                    <div class="ps-text-area">
                        <h1>Bermudas</h1>
                        <span>Bermudas a partir de R$ 59,90</span>
                    </div>
                </div>
            </a>

            <a href="assets/website/catalog/male.php?search=Calça">
                <div class="product-square">
                    <div class="ps-image-area">
                        <img src="assets/images/calca.png">
                    </div>
                    <div class="ps-text-area">
                        <h1>Calças</h1>
                        <span>Calças a partir de R$ 69,90</span>
                    </div>
                </div>
            </a>

            <a href="assets/website/catalog/male.php?search=Jaqueta">
                <div class="product-square">
                    <div class="ps-image-area">
                        <img src="assets/images/jaqueta.png">
                    </div>
                    <div class="ps-text-area">
                        <h1>Jaquetas</h1>
                        <span>Jaquetas a partir de R$ 189,90</span>
                    </div>
                </div>
            </a>

        </div>
    </section>

    <section class="street-section">

        <div class="street-content">
            <div class="container-headline">
                <h1>STREET WEAR</h1>
                <br>
                <p>JAQUETAS - CAMISETAS - CALÇAS</p>
            </div>

            <div class="product-row">
                <a href="assets/website/catalog/product-description.php?id=&name=">
                    <div class="product-square">
                        <div class="ps-image-area">
                            <img src="assets/images/produtos/; ?>">
                        </div>
                        <div class="ps-text-area">
                            <h1></h1>
                            <span></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

</body>
<%- include('../partials/footer.ejs') %> 
