<footer>
    <div id="footer">
        <div class="footer-left-side">
            <div class="footer-logo">
                <a href="/">
                    <img src="icons/logo/logo-4-white.svg" alt="Sem Limites Logo 4" />
                </a>
            </div>
            <div class="footer-text-content">
                <div class="table-footer">
                    <h3>Suporte</h3>
                    <ul>
                        <li><a href="assets/website/support/support.php">Atendimento ao cliente</a></li>
                        <li><a href="assets/website/support/faq.php">Dúvidas frequentes</a></li>
                        <li><a href="assets/website/support/table-sizes.php">Tabela de Tamanhos</a></li>
                        <li><a href="assets/website/support/delivery-freight.php">Entregas e frete</a></li>
                        <li><a href="assets/website/support/payment-options.php">Opções de pagamento</a></li>
                        <li><a href="assets/website/support/refound.php">Troca e devolução</a></li>
                    </ul>
                </div>

                <div class="table-footer">
                    <h3>Informações</h3>
                    <ul>
                        <li><a href="assets/website/support/about-us.php">Sobre nós</a></li>
                    </ul>
                </div>

                <div class="table-footer">
                    <h3>Contato</h3>
                    <ul>
                        <li>Telefone: (45) 98818-4081</li>
                        <li>Cascavel - PR</li>
                        <li>Rua Xavantes 1777, Santa Cruz</li>
                        <li>semlimitesstore@outlook.com</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-white-bar"></div>

        <div class="footer-right-side">
                <div class="headline-box">
                    <h1>Siga nossas redes sociais</h1>
                </div>

                <div class="footer-social-media">
                    <div class="footer-social-media-area">
                        <a href="https://www.facebook.com/" target="_blank">
                            <img src="icons/facebook.svg" alt="Facebook">
                            <div class="footer-social-text">
                                <h3>Sem Limites</h3>
                            </div>
                        </a>
                        <a href="instagram.com">
                            <img src="icons/instagram.svg" alt="Instagram">
                            <div class="footer-social-text">
                                <h3>Instagram</h3>
                            </div>
                        </a>
                        <a href="twitter.com">
                            <img src="icons/twitter.svg" alt="Twitter">
                            <div class="footer-social-text">
                                <h3>Twitter</h3>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="footer-disclaimer-copyright">
                    <p>Copyright©2020, Sem Limites LTDA. Todos os direitos reservados. Todos os textos, imagens,
                        gráficos, animações, vídeos, músicas, sons e outros materiais são protegidos por direitos
                        autorais e outros direitos de propriedade intelectual pertencentes à Sem Limites LTDA, suas
                        subsidiárias, afiliadas e licenciantes.</p>
                </div>
        </div>
    </div>
    </div>
</footer>

<div id="credits-footer">
    <p class="credits-text">Criado por: <span>Guilherme Perinotti</span></p>
    <a href="https://github.com/euperinotti/Sem-Limites/tree/node">
        <img src="icons/github.svg" alt="Github">
    </a>
</div>
</html>