<nav>
    <div id="container">
        <div id="container-left-side">
            <a href="/">
                <div id="logo">
                    <img src="icons/logo/icon.svg" alt="Logo Sem Limites">
                </div>
            </a>
            <div id="header-options">
                <ul>
                    <li><a href="/catalog">PRODUTOS</a></li>
                    <li><a href="/about-us">SOBRE</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
        </div>

        <div id="container-right-side">
            <form action="/catalog" method="GET">
                <div id="search-bar">
                    <input type="search" name="search" id="search" placeholder="Buscar...">
                    <button type="submit">
                        <img src="icons/search.svg"/>
                    </button>
                </div>
            </form>

            <div id="cart">
                <a href="/cart" target="_blank">
                    <img src="icons/shopping-cart.svg" alt="Carrinho"/>
                </a>
            </div>

            <div id="profile">
                <a href="/profile" target="_blank">
                    <img src="icons/user-regular.svg" alt="Meu perfil"/>
                </a>
            </div>
        </div>
    </div>
</nav>